*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: rgba(116, 33, 8, 0.548);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  a{
    text-decoration: none;
  }